<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #map {
            height: 100%;
        }
        body {
            padding: 0;
            overflow: hidden;
        }
        .sidebar {
            background-color: black;
            height: 100vh;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .sidebar .btn {
            color: white;
            font-weight: bold;
            font-size: 20px;
            margin: 60px 0;
        }
        .search-container {
            position: relative;
        }
        .search-bar {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: 300px;
        }
        #search-results {
            max-height: 300px;
            overflow-y: auto;
            display: none;
        }
        #search-results.show {
            display: block;
        }
        .active-page {
            background-color: #495057 !important;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!--Sidebar-->
            <div class="col-2 d-flex flex-column justify-content-center align-items-center sidebar bg-dark" style="height: 100vh;">
                <!-- Home Button -->
                <form method="post" action="{% url 'home' %}" class="w-100 m-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark m-auto p-3 w-100">Home</button>
                </form>

                <!-- Comparison Button -->
                <form method="post" action="{% url 'comparison' %}" class="w-100 m-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark m-auto p-3 w-100">Comparison</button>
                </form>

                <!-- Plot Button -->
                <form method="post" action="{% url 'plot' %}" class="w-100 m-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark m-auto p-3 w-100">Plot</button>
                </form>

                <!-- Map Button -->
                <div class="btn btn-dark m-auto p-3 w-100 active-page">
                    Map
                </div>
            </div>

            <!-- Map Column Space-->
            <div class="col-10" style="padding: 0;">
                <div id="map" style="width: 100%;"></div>
                <div class="search-bar search-container">
                    <input type="text" id="search-input" class="form-control" placeholder="Search for a school...">
                    <ul id="search-results" class="dropdown-menu"></ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.8781, lng: -77.7996}
            });

            // Schools data
            var schools = JSON.parse('{{ schools|escapejs }}');
            var infoWindow = new google.maps.InfoWindow();
            var markers = [];

            // Add markers to map
            schools.forEach(function(school) {
                var marker = new google.maps.Marker({
                    position: {lat: parseFloat(school.latitude), lng: parseFloat(school.longitude)},
                    map: map,
                    title: school.name
                });

                var schoolType = school.elementary ? "Elementary" : school.middle ? "Middle" : school.high ? "High" : "Unknown";
                var infoWindowContent = `
                    <div>
                        <h5>${school.name}</h5>
                        <p><strong>District:</strong> ${school.district_name}</p>
                        <p><strong>Address:</strong> ${school.address_street}, ${school.address_city}</p>
                        <p><strong>Website:</strong> <a href="${school.website}" target="_blank">${school.website}</a></p>
                        <p><strong>Phone:</strong> ${school.telephone}</p>
                        <p><strong>Enrollment:</strong> ${school.enrollment_data}</p>
                        <p><strong>Type:</strong> ${schoolType}</p>
                    </div>
                `;

                // event listener for clicking on marker
                marker.addListener('click', function() {
                    infoWindow.setContent(infoWindowContent);
                    infoWindow.open(map, marker);
                });

                markers.push({marker: marker, school: school});
            });


            // SEARCH FUNCTIONALITY

            // Search input and results
            var searchInput = document.getElementById('search-input');
            var searchResults = document.getElementById('search-results');


            // helper function to clear search results
            function clearSearch() {
                searchResults.innerHTML = '';
                searchResults.classList.remove('show');
            }

            // Event listener for input
            searchInput.addEventListener('input', function() {
                var query = this.value.toLowerCase();
                searchResults.innerHTML = '';

                // only show schools when query length is greater than 1
                if (query.length > 1) {
                    var filteredSchools = schools.filter(function(school) {
                        return school.name.toLowerCase().includes(query);
                    });

                    // show search results
                    if (filteredSchools.length > 0) {
                        searchResults.classList.add('show');
                        filteredSchools.forEach(function(school) {
                            var li = document.createElement('li');
                            li.classList.add('dropdown-item');
                            li.textContent = school.name;

                            // event listener for clicking on search result
                            li.addEventListener('click', function() {
                                var selectedSchool = markers.find(function(m) {
                                    return m.school.name === school.name;
                                });

                                // center map on selected school and open info window
                                if (selectedSchool) {
                                    map.setCenter(selectedSchool.marker.getPosition());
                                    map.setZoom(15);
                                    google.maps.event.trigger(selectedSchool.marker, 'click');
                                }

                                clearSearch();
                                searchInput.value = school.name;
                            });
                            searchResults.appendChild(li);
                        });
                    } else {
                        clearSearch();
                    }
                } else {
                    clearSearch();
                }
            });

            // Close dropdown when clicking outside
            document.addEventListener('click', function(event) {
                if (!searchInput.contains(event.target) && !searchResults.contains(event.target)) {
                    clearSearch();
                }
            });
        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
    </script>
</body>
</html>